<div class="fb11-card">
  <h1>Really delete <strong>[% site.name %]</strong>?</h1>
  <form method="post">
    <a class="btn btn-primary" href="[% c.uri_for(c.controller.action_for('index')) %]">Cancel</a>
    <button class="btn btn-danger pull-right">Delete</button>
  </form>
</div>
