[% PROCESS modules/cms/preprocess.tt %]
[% INCLUDE modules/cms/header.tt %]

<div class="fb11-card">
  <h1>New template</h1>
  <div class="content_block">
    [% form.render | none %]
  </div>
</div>

[% INCLUDE modules/cms/templates/template_help_text.tt %]